.caption {
  min-width: 8em;
}

.descripton-text {
  font-size: 14px;
  color: #e0cfcf;
}

.container-column {
  flex-direction: column;
  background: #808080f2;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px;
  &-top {
    @extend .container-column;
    transform: translateY(-16px);
  }
  &-bottom {
    @extend .container-column;
    transform: translateY(15px);
  }
}

.container-row {
  flex-direction: row;
  align-items: flex-start;
  margin: 5px;
}

.cube {
  &-container {
    display: flex;
    justify-content: center;
  }
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  justify-content: center;
  border: solid 10px #868686;
  position: absolute;
  &-top {
    @extend .cube;
    margin: -5px 0px;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    color: red
  }
  &-bottom {
    @extend .cube;
    margin: 5px 0px;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    color: red
  }
}
