.card {
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 0px 6px 1px #00000070;
  align-items: center;
  justify-content: space-between;
}

.user {
  font-size: 16px;
  color: grey;
  border-bottom: 1px solid grey;
  padding: 10px;
  margin: 0px 10px;
}

a {
  text-decoration: none
}

.details-link {
  margin-right: 10px;
  :first-child {
    left: 17px;
    position: relative;
  }
}

.container-column {
  justify-content: space-between;
  padding: 10px;
}

.title {
  color: #5555c8;
  font-weight: bolder;
  font-style: normal;
  font-size: 20px;
}

.sub-content {
  font-size: 15px;
  justify-content: flex-start;
  color: grey;
}
